/* reset*{ */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

h1 {
    font-size: 44px;
}

img {
    width: 100%;
}

/* utils */

.container {
    max-width: 700px;
    margin: 0 auto;
}

.row {
    height: 100vh;
    position: relative;
}

.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* section */
.red {
    background-color: brown;
    color: yellow;
}

.green {
    background-color: green;
    color: yellow;
}

.yellow {
    background-color: yellow;
    color: green;
}