/* reset*{ */
* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* generics */
body {
    font-family: 'Rubik Mono One', sans-serif;
}

h1 {
    font-size: 44px;
}

.product img {
    width: 100%;
}

/* utils */

.container {
    max-width: 700px;
    margin: 0 auto;
}

.row {
    height: 100vh;
    position: relative;
}

.product {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

/* nav */
.skip {
    width: 200px;
    position: fixed;
    z-index: 1;
    right: 20px;
    top: 20px;
}

.skip ul {
    display: flex;
    list-style-type: none;

}

.skip a {
    display: inline-block;
    width: 40px;
    height: 40px;
    text-decoration: none;
    color: black;
    font-size: 24px;
    background-color: white;
    border-radius: 50%;
    padding: 5px 5px;
    text-align: center;
}

/* section */
#brand-1 {
    background-color: brown;
    color: yellow;
}

#brand-2 {
    background-color: green;
    color: yellow;
}

#brand-3 {
    background-color: yellow;
    color: green;
}